html {
    margin: 0;
    padding: 0;
    zoom: 1;
}

body {
    margin: 0;
    padding: 0;
    font-family: Avenir Next;
    zoom: 1;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 40px;
    max-width: 80px;
    background-color: #f5f6fa;
    color: #222f3e;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 13;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -25px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f5f6fa transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* -------------------------------------------------------------------------------------------------------------- */

#train-test-toggle {
    position: absolute;
    width: 150px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 20px;
    right: 330px;
}

#train-test-toggle p {
    padding: 0;
    margin: 0;
    padding-top: 5px;
}

#train-label {
    font-weight: 600;
}

#test-label {
    font-weight: 300;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 100px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 100%;
}

input:checked + .slider {
    background-color: #1dd1a1;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1dd1a1;
}

input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
}

/* -------------------------------------------------------------------------------------------------------------- */

#header {
	position: absolute;
	top: 0;
	left: 285px;
	right: 0;
    height: 75px;
    display: flex;
    justify-content: space-around;
	background: none;
}

#header #program-title {
    width: 232px;
    height: 40px;
    border-radius: 100px;
    position: absolute;
    right: 50px;
    top: 17px;
    font-size: 15px;
    font-weight: 500;
    text-indent: 20px;
    font-family: Avenir Next;
    border: 2px solid #feca57;
    color: gray;
}

#logo-image {
    height: 45px;
    margin-top: 15px;
}

/* -------------------------------------------------------------------------------------------------------------- */

#palette {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 285px;
}

#palette #palette-header-main {
    width: 100%;
    height: 75px;
    background-color: #c8d6e58a;
    display: flex;
	justify-content: center;
	box-shadow: -1px 1px 1px #88888850;
}

#palette #palette-main {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 75px;
	bottom: 0;
    overflow-y: scroll;
    background-color: #c8d6e556;
}

#palette #palette-header-main p {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    font-size: 17px;
    font-weight: 600;
}

#palette #palette-main .palette-header {
    width: 100%;
    height: 50px;
}

#palette #palette-main .palette-header p {
    width: 57px;
    border-bottom: 2px solid rgba(55,116,241,1);
    padding: 0;
    margin: 0;
    margin-left: 17px;
    padding-top: 15px;
    font-weight: 500;
    font-size: 15px;
}

.classifier-block {
    width: 90%;
    margin: 15px auto 15px auto;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #88888850;
}

.classifier-block:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}

#model-info-expand {
    width: 90%;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#classifier-icon {
    font-size: 19px;
    font-weight: 600;
    top: 7;
    right: 0;
    float: right;
}

#classifier-title {
    font-size: 17px;
    font-weight: 600;
    top: 7;
    left: 0;
    float: left;
}

#classifier-info {
    width: 90%;
    font-size: 13px;
    margin-top: 20px;
    margin: 20 0 0 10;
    padding-bottom: 10px;
}

.model-block {
    background-color: #ffffff;
}

#palette-individual-blocks {
    width: auto;
    height: auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.layer-block {
    width: 115px;
    height: 130px;
    background-color: white;
    text-align: center;
    margin: 12px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #88888850;
}

.layer-block #layer-title {
    font-size: 16px;
    font-weight: 600;
    padding-top: 40%;
    width: 95%;
    margin: 0 auto;
}

/* -------------------------------------------------------------------------------------------------------------- */

#playground {
    position: absolute;
    top: 80px;
    right: 50px;
    left: 300px;
    bottom: 20px;
	display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

#playground:hover {
    cursor: move;
}

#input-block {
    width: 200px;
    height: 215px;
    background-color: #1dd1a1;
    margin: 25px 20px;
    border-radius: 10px;
    border: 1px solid #1dd1a1;
	display: none;
	box-shadow: 3px 3px 8px #88888850;
}

#input-block #input-block-top {
    position: relative;
    width: 100%;
    height: 25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
}

#input-block #input-block-top #input-block-top-title {
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 70px;
    color: white;
}

#input-block #input-block-top #input-block-top-button {
    font-size: 17px;
    color: white;
    font-weight: 500;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    margin-right: 15px;
}

#input-block #input-block-center {
    position: relative;
    width: 200px;
    height: 60%;
    background-color: white;
    text-align: center;
    background-position: center;
}

#input-block #input-block-center #input-block-canvas {
    position: relative;
    width: 100%;
    height: 100%;
}

#container {
    margin: 0px auto;
    position: relative;
    width: 100%;
    height: 100%;
}

#input-block #input-block-center #input-block-center-files {
    display: none;
}

#input-block #input-image {
    position: relative;
    width: 100%;
    height: 100%;
}

#input-block #input-block-synapse {
    width: 100%;
    height: 15%;
    background-color: #1dd1a1;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* -------------------------------------------------------------------------------------------------------------- */

#function-buttons {
    width: 232px;
    height: 55px;
    position: absolute;
    bottom: 20px;
    right: 50px;
    background-color: #f5f6fa;
    border-radius: 100px;
}

#function-buttons button {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: inline-flex;
    border: none;
    margin: 5px;
}

#function-buttons #export {
    background-color: #1dd1a1;
}

#function-buttons #export i {
    font-size: 18px;
    margin: 10px;
}

#function-buttons #play {
    background-color: #ff6b6b;
}

#function-buttons #chatbot-toggle {
    background-color: #feca57;
}

#function-buttons #chatbot-toggle i {
    margin: 5px;
}

#function-buttons #trash {
    background-color: #5f27cd;
}

#function-buttons button i {
    margin: 8px;
    font-size: 17px;
    text-align: center;
    color: white;
}

#function-buttons button:hover {
    opacity: 0.6;
    transition: 0.5s;
}

/* -------------------------------------------------------------------------------------------------------------- */

#chatbot {
    position: absolute;
    right: 50px;
    bottom: 90px;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

#chatbot #chatbot-header {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: #feca57;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 5px #88888850;
}

#chatbot #chatbot-header #chatbot-header-text {
    padding: 0;
    margin: 0;
    padding-left: 10px;
    font-weight: 500;
    font-size: 17px;
    color: white;
    padding-top: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#chatbot #chatbot-header #close-chatbot {
    color: white;
    font-size: 20px;
    margin-right: 15px;
    margin-top: 15px;
}

#chatbot-messages {
    position: relative;
    width: 100%;
    height: 350px;
    padding: 0;
    margin: 0;
    background-color: #c8d6e58a;
    overflow: scroll;
    display: block;
}

#chatbot-message-from {
    float: left;
    min-width: auto;
    max-width: 250px;
    min-height: 50px;
    border-radius: 10px;
    background-color: #69a9f8;
    margin: 10px 15px;
    margin-right: 50%;
}

#chatbot-message-to {
    float: right;
    min-width: auto;
    max-width: 250px;
    min-height: 50px;
    border-radius: 10px;
    background-color: #44cea9;
    margin: 10px 15px;
    margin-left: 50%;
}

#chatbot-message-content {
    color: white;
    font-size: 15px;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    word-wrap: break-word;
}

#chatbot-textbox {
    position: relative;
    width: 100%;
    min-height: 50px;
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #c8d6e58a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#chatbot #chatbot-textbox #chatbot-input {
    width: 85%;
    min-height: 40px;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    font-family: Avenir Next;
    font-size: 13px;
    text-indent: 10px;
    border: none;
    word-wrap: normal;
}

#chatbot #chatbot-textbox #chatbot-send {
    font-size: 22px;
    color: white;
    padding: 15px;
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 10px;
    cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------- */

.synapse {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 10px;
	background-color: #222f3e;
}

/* -------------------------------------------------------------------------------------------------------------- */

.new-block-dense {
	width: 280px;
	height: 101px;
	background-color: white;
	margin: 10px auto;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
	border: 1px solid #1dd1a1;
	cursor: pointer;
	box-shadow: 2px 2px 5px #88888850;
}

.new-block-top {
	position: relative;
	width: 100%;
	height: 51px;
	display: flex;
	background-color: #1dd1a1;
	justify-content: space-between;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid #88888867;
}

.new-block-top-title {
	color: white;
	font-size: 17px;
	margin-left: 10px;
	font-weight: 600;
}

.new-block-top-button {
	font-size: 19px;
	color: white;
	margin-right: 10px;
}

.new-block-dense-info-panel {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	justify-content: space-between;
}

.new-block-info-param {
	font-size: 15px;
	color: black;
	font-weight: 500;
	padding: 0;
	margin: 10px;
	margin-top: 12px;
}

.new-block-info-input-field {
	width: 70px;
	height: 25px;
	margin: 10px;
	/* border-radius: 5px; */
	font-weight: 500;
	font-size: 13px;
	border: none;
	border-bottom: 1px solid #888888;
	background: none;
	font-family: Avenir Next;
	text-align: center;
}

/* -------------------------------------------------------------------------------------------------------------- */

.new-block-conv2d {
	width: 280px;
	height: 140px;
	background-color: white;
	margin: 10px auto;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
	border: 1px solid #1dd1a1;
	cursor: pointer;
	box-shadow: 2px 2px 5px #88888850;
}

.new-block-conv2d-info-panel {
	position: relative;
	width: 100%;
	height: 40px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	justify-content: space-between;
}

/* -------------------------------------------------------------------------------------------------------------- */

.new-block-flatten {
	width: 280px;
	height: 55px;
	background-color: #1dd1a1;
	margin: 10px auto;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
	border: 1px solid #1dd1a1;
	cursor: pointer;
	box-shadow: 2px 2px 5px #88888850;
	display: flex;
	justify-content: space-between;
}