html {
	padding: 0;
	margin: 0;
	overflow: scroll;
}

body {
	margin: 0;
	padding: 0;
	font-family: Avenir Next, Helvetica;
	overflow: scroll;
}

input:focus {
	outline: none;
}

button:focus {
	outline: none;
}

a {
	color: white;
}

select:focus {
	outline: none;
}

/*------------------------------------------------------------------------------------------------------------------------*/

.modal {
	display: none;
  position: fixed;
  z-index: 6000;
	left: 25%;
  top: 50;
  width: 600px;
  height: 350px;
  overflow: auto;
  background-color: #34495e;
	border-radius: 7px;
	box-shadow: 1px 2px 4px rgba(0,0,0,.6);
	margin: 0 auto;
}

.modal-content {
  background-color: #34495e;
  margin: 0 auto;
  width: 100%;
	border-radius: 10px;
	height: 97%;
	overflow: auto;
	color: white;
}

.modal-content p {
	padding-left: 30px;
}

.modal-content ul li {
	margin: 10 0;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
	margin: 10 20 0 0;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*------------------------------------------------------------------------------------------------------------------------*/

#header {
	width: 100%;
	height: 65px;
	background-color: #f3f3f3;
	box-shadow: 1px 2px 4px rgba(0,0,0,.2);
	display: inline-block;
	text-align: center;
	position: fixed;
	z-index: 4000;
}

#header img {
	width: 47px;
	margin-left: 10px;
	margin-top: 17px;
	margin-right: 0;
	margin-bottom: 0;
	float: left;
}

#header #headerNav {
	display: inline-flex;
	float: right;
	list-style: none;
	margin-right: 40px;
}

#header #headerNav li {
	margin: 8px 30px;
	font-weight: 500;
	font-size: 17px;
}

#header #headerNav li:hover {
	cursor: pointer;
}

/*------------------------------------------------------------------------------------------------------------------------*/

#hyperparams {
	width: 100%;
	height: 50px;
	background-color: white;
	box-shadow: 1px 2px 4px rgba(0,0,0,.2);
	text-align: center;
	position: fixed;
	display: inline-flex;
	z-index: 4000;
	top: 65px;
}

#hyperparams #lossfunc {
	position: relative;
	width: 210px;
	height: 27px;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 0;
	box-shadow: 1px 2px 4px rgba(0,0,0,.2);
	margin: 10px 20px;
	margin-left: 12px;
	margin-top: 12px;
	font-family: Avenir Next;
	font-size: 12px;
	font-weight: 500;
}

#hyperparams #optimizer {
	position: relative;
	width: 130px;
	height: 27px;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 0;
	box-shadow: 1px 2px 4px rgba(0,0,0,.2);
	margin: 10px 20px;
	margin-left: 12px;
	margin-top: 12px;
	font-family: Avenir Next;
	font-size: 12px;
	font-weight: 500;
}

#hyperparams #apply {
	width: 130px;
	height: 37px;
	background-color: gold;
	color: white;
	font-family: Avenir Next;
	font-size: 15px;
	border: none;
	border-radius: 100px;
	font-weight: bold;
	margin-top: 7px;
	margin-left: 20px;
	margin-right: 20px;
}

#hyperparams #alpha {
	width: 120px;
	height: 27px;
	border: none;
	border-bottom: 1px solid black;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: Avenir Next;
	font-size: 15px;
	font-weight: 500;
}

#hyperparams #momentum {
	width: 120px;
	height: 27px;
	border: none;
	border-bottom: 1px solid black;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: Avenir Next;
	font-size: 15px;
	font-weight: 500;
}

#hyperparams #clipnorm {
	width: 120px;
	height: 27px;
	border: none;
	border-bottom: 1px solid black;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: Avenir Next;
	font-size: 15px;
	font-weight: 500;
}

#hyperparams #clipvalue {
	width: 120px;
	height: 27px;
	border: none;
	border-bottom: 1px solid black;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: Avenir Next;
	font-size: 15px;
	font-weight: 500;
}

#hyperparams #menu {
	font-size: 32px;
	margin: 8px 50px;
	float: right;
}

#hyperparams #menu:hover {
	transform: scale(1.1);
	transition: 0.5s;
	cursor: pointer;
}

#hyperparams #menuNav {
	list-style: none;
	position: relative;
	z-index: 5000;
	margin-left: -40px;
	display: inline-flex;
}

#hyperparams #menuNav li {
	padding: 0;
	text-align: left;
	margin-right: 30px;
	margin-left: 30px;
	font-weight: 500;
}

#hyperparams #menuNav li:hover {
	cursor: pointer;
}

/*------------------------------------------------------------------------------------------------------------------------*/

#scroller {
	width: 225px;
	height: 100%;
	background-color: lightgray;
	box-shadow: 1px 2px 4px rgba(0,0,0,.15);
	position: relative;
	left: 0;
	z-index: 100;
	top: 115px;
	bottom: 0;
	overflow: scroll;
	visibility: visible;
}

#scroller #palheader {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 40px;
	background-color: #95a5a6;
}

#scroller #palheader #filename {
	padding: 0;
	margin: 0;
	float: left;
	padding-top: 10px;
	font-weight: 600;
	font-family: Helvetica;
	font-size: 15px;
	margin-left: 10px;
	color: white;
	margin-bottom: 0;
	padding-bottom: 0;
}

#scroller #palheader #closepal {
	font-size: 19px;
	color: white;
	border: none;
	background: none;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	color: white;
}

.block {
	width: 85px;
	height: 90px;
	border-radius: 5px;
	box-shadow: 1px 2px 4px rgba(0,0,0,.3);
	margin: 10px;
	padding: 0;
	display: inline-table;
	z-index: 0;
}

.editable_block {
	width: 120px;
	height: 100px;
	border-radius: 5px;
	box-shadow: 1px 2px 4px rgba(0,0,0,.3);
	margin: 22px;
	padding: 0;
	text-align: center;
}

.block:hover {
	transform: scale(1.05);
	transition: 0.5s;
}

#type {
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	position: relative;
	padding-top: 42%;
}

#edit_type {
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	padding: 0;
	margin: 0;
	padding-top: 37%;
}

#closeBTN {
	position: relative;
	float: right;
	margin: 10px;
	font-size: 20px;
}

/*------------------------------------------------------------------------------------------------------------------------*/

#playground {
	min-height: 500px;
	overflow: scroll;
	position: absolute;
	top: 115px;
	right: 0;
	left: 225px;
	bottom: 0;
	overflow: auto;
	background-color: #ecf0f1;
}

/*------------------------------------------------------------------------------------------------------------------------*/

#sandbox {
	min-height: 500px;
	overflow: scroll;
	position: absolute;
	top: 115px;
	right: 0;
	left: 700px;
	bottom: 0;
	overflow: auto;
	background-color: #ecf0f1;
	visibility: hidden;
	box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

#sandbox #sbheader {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #95a5a6;
}

#sandbox #sbheader #filename {
	padding: 0;
	margin: 0;
	float: left;
	margin-top: 11px;
	margin-left: 10px;
	font-weight: 500;
	font-family: Monaco;
	font-size: 14px;
	color: white;
}

#sandbox #closesb {
	font-size: 19px;
	color: white;
	border: none;
	background: none;
	margin: 10px;
	margin-top: 10px;
	float: right;
}

#sandbox #code {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 13px;
}

/*------------------------------------------------------------------------------------------------------------------------*/

#controlPanel {
	min-height: 500px;
	position: absolute;
	top: 115px;
	right: 0;
	left: 1000px;
	bottom: 0;
	overflow: hidden;
	background-color: white;
	box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

#controlPanel #cpheader {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #95a5a6;
}

#controlPanel #cpheader #filename {
	padding: 0;
	margin: 0;
	float: left;
	padding-top: 10px;
	font-weight: 600;
	font-family: Helvetica;
	font-size: 15px;
	margin-left: 10px;
	color: white;
	margin-bottom: 0;
	padding-bottom: 0;
}

#controlPanel #closecp {
	font-size: 19px;
	color: white;
	border: none;
	background: none;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	color: white;
}

#controlPanel #controls {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #DADFE1;
	padding: 0;
	margin: 0;
	display: inline-flex;
}

#controlPanel #controls #layerInfo {
	padding: 0;
	margin: 0;
	font-size: 15px;
	width: 50%;
	height: 100%;
	text-align: center;
	padding-top: 10px;
	font-weight: 600;
	font-family: Helvetica;
	color: white;
}

#controlPanel #controls #issues {
	padding: 0;
	margin: 0;
	font-size: 15px;
	width: 50%;
	height: 100%;
	text-align: center;
	padding-top: 10px;
	font-weight: 600;
	font-family: Helvetica;
	color: white;
	background-color: #89C4F4;
}

#controlPanel #controls #sep {
	width: 1px;
	height: 100%;
	position: relative;
	background-color: gray;
	opacity: 0.7;
	margin: 0;
	padding: 0
}

#controlPanel #issuesPanel {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #eeeeee;
	overflow: scroll;
	display: block;
}

#controlPanel #layerPanel {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #eeeeee;
	overflow: scroll;
	display: none;
}

#inputIssue {
	width: 90%;
	min-height: 40px;
	border: 2px solid #2ECC71;
	margin: 15px auto;
	border-radius: 5px;
	text-align: left;
}

#inputIssue #inputIssueDesc {
	color: #2ECC71;
	padding: 10px;
	margin: 0;
}

#illegalIssue {
	width: 90%;
	min-height: 40px;
	border: 2px solid #EC644B;
	margin: 15px auto;
	border-radius: 5px;
	text-align: left;
}

#illegalIssue #illegalIssueDesc {
	color: #EC644B;
	padding: 10px;
	margin: 0;
}


#layerPanel #params {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #6C7A89;
}

#params #cptitle {
	padding: 0;
	margin: 0;
	float: left;
	padding-top: 10px;
	font-weight: 600;
	font-family: Helvetica;
	font-size: 15px;
	opacity: 0.8;
	margin-left: 10px;
	color: white;
	margin-bottom: 12px;
	padding-bottom: 0;
}

#param {
	position: relative;
	height: 55px;
	width: 100%;
	display: inline-flex;
	background-color: #F2F1EF;
}

#paramtitle {
	position: relative;
	width: 140px;
	height: 40px;
	padding: 0;
	margin: 0;
	background-color: #F2F1EF;
	text-align: center;
	padding-top: 15px;
	font-weight: 500;
	font-size: 15px;
}

#paramfield {
	width: 130px;
	height: 30px;
	border: none;
	border-bottom: 1px solid gray;
	opacity: 0.5;
	background: none;
	font-family: Avenir Next;
	font-size: 15px;
	background-color: #F2F1EF;
	text-align: center;
	margin-top: 7px;
}

/*------------------------------------------------------------------------------------------------------------------------*/

#Input {
	background-color: #ECECEC;
}

#Dense {
	background-color: #2ecc71;
	color: white;
}

#Conv2D {
	background-color: #3498db;
	color: white;
}

#MaxPooling2D {
	background-color: #9b59b6;
	color: white;
}

#Flatten {
	background-color: #34495e;
	color: white;
}

#Activation {
	background-color: #f1c40f;
	color: white;
}

#Reshape {
	background-color: #1abc9c;
	color: white;
}

#Dropout {
	background-color: #e67e22;
	color: white;
}

#LSTM {
	background-color: #1abc9c;
	color: white;
}

#BatchNormalization {
	background-color: #95a5a6;
	color: white;
}
