html {
    margin: 0;
    padding: 0;
    zoom: 1;
}

body {
    margin: 0;
    padding: 0;
    font-family: Avenir Next;
    zoom: 1;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 80px;
    background-color: #f5f6fa;
    color: #222f3e;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-weight: 600;
    font-size: 13;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -35px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f5f6fa transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* -------------------------------------------------------------------------------------------------------------- */

#header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    background: none;
}

#header #program-title {
    width: 232px;
    height: 40px;
    border-radius: 100px;
    position: absolute;
    right: 50px;
    top: 22px;
    font-size: 15px;
    font-weight: 500;
    text-indent: 20px;
    font-family: Avenir Next;
    border: 2px solid #feca57;
    color: gray;
}

#header #logo-image {
    height: 45px;
    margin-left: 112px;
    margin-top: 10px;
}

/* -------------------------------------------------------------------------------------------------------------- */

#palette {
    position: absolute;
    top: 75px;
    left: 0px;
    bottom: 0px;
    width: 285px;
    /* background-color: #feca57; */
}

#palette #palette-header-main {
    width: 100%;
    height: 50px;
    background-color: #1dd1a1;
    display: flex;
    justify-content: center;
}

#palette #palette-main {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0;
    overflow-y: scroll;
    background-color: #c8d6e556;
}

#palette #palette-header-main p {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    font-size: 17px;
    font-weight: 600;
}

#palette #palette-main .palette-header {
    width: 100%;
    height: 50px;
    /* background-color: #b8c3cf3f */
}

#palette #palette-main .palette-header p {
    width: 57px;
    border-bottom: 2px solid rgba(55,116,241,1);
    padding: 0;
    margin: 0;
    margin-left: 17px;
    padding-top: 15px;
    font-weight: 500;
    font-size: 15px;
}

.classifier-block {
    width: 90%;
    margin: 15px auto 15px auto;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #88888850;
}

.classifier-block:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}

#model-info-expand {
    width: 90%;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#classifier-icon {
    font-size: 19px;
    font-weight: 600;
    top: 7;
    right: 0;
    float: right;
}

#classifier-title {
    font-size: 17px;
    font-weight: 600;
    top: 7;
    left: 0;
    float: left;
}

#classifier-info {
    width: 90%;
    font-size: 13px;
    margin-top: 20px;
    margin: 20 0 0 10;
    padding-bottom: 10px;
}

.model-block {
    background-color: #ffffff;
}

#palette-individual-blocks {
    width: auto;
    height: auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.layer-block {
    width: 115px;
    height: 130px;
    background-color: white;
    text-align: center;
    margin: 12px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #88888850;
}

.layer-block #layer-title {
    font-size: 16px;
    font-weight: 600;
    padding-top: 45%;
    width: 97%;
    margin: 0 auto;
}

/* -------------------------------------------------------------------------------------------------------------- */

#playground {
    position: absolute;
    top: 80px;
    right: 50px;
    left: 300px;
    bottom: 70px;
    /* background-color: #5f27cd; */
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#playground:hover {
    cursor: move;
}

#input-block {
    width: 200px;
    height: 215px;
    background-color: #1dd1a1;
    margin: 25px 20px;
    border-radius: 10px;
    border: none;
    cursor: move;
    display: none;
}

#input-block #input-block-top {
    position: relative;
    width: 100%;
    height: 25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
}

#input-block #input-block-top #input-block-top-title {
    /* color: white; */
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 70px;
    color: white;
}

#input-block #input-block-top #input-block-top-button {
    /* color: white; */
    font-size: 17px;
    color: white;
    font-weight: 500;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    margin-right: 15px;
}

#input-block #input-block-center {
    position: relative;
    width: 198px;
    height: 60%;
    background-color: white;
    text-align: center;
    background-position: center;
    border-right: 1px solid #1dd1a1;
    border-left: 1px solid #1dd1a1;
}

#input-block #input-block-center #input-block-canvas {
    position: relative;
    width: 100%;
    height: 100%;
}

#container {
    margin: 0px auto;
    position: relative;
    width: 100%;
    height: 100%;
}

#input-block #input-block-center #input-block-center-files {
    display: none;
}

#input-block #input-image {
    position: relative;
    width: 100%;
    height: 100%;
}

#input-block #input-block-synapse {
    width: 100%;
    height: 15%;
    background-color: #1dd1a1;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* -------------------------------------------------------------------------------------------------------------- */

#function-buttons {
    width: 232px;
    height: 55px;
    position: absolute;
    bottom: 20px;
    right: 50px;
    background-color: #f5f6fa;
    border-radius: 100px;
}

#function-buttons button {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: inline-flex;
    border: none;
    margin: 5px;
}

#function-buttons #export {
    background-color: #1dd1a1;
}

#function-buttons #export i {
    font-size: 18px;
    margin: 10px;
}

#function-buttons #play {
    background-color: #ff6b6b;
}

#function-buttons #help {
    background-color: #feca57;
}

#function-buttons #trash {
    background-color: #5f27cd;
}

#function-buttons button i {
    margin: 8px;
    font-size: 17px;
    text-align: center;
    color: white;
}

#function-buttons button:hover {
    opacity: 0.6;
    transition: 0.5s;
}

/* -------------------------------------------------------------------------------------------------------------- */

.synapse {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 10px;
    background-color: rgba(55,116,241,1);
}

/* -------------------------------------------------------------------------------------------------------------- */

